.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px dashed black;
}

.h5 {
  font-style: italic;
  padding: 0 25%;
  text-align: center;
  white-space: nowrap;
}

.dumpJs {
  max-width: 200px;
  white-space: pre-wrap;
}

.fullPlayer {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.fullPlayer video {
  width: 100%;
  height: 100%;
  align-self: center;
}

.miniPlayer {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.miniPlayer video {
  width: 100px;
  height: 100px;
  align-self: center;
}
